on: [push]

name: run tests

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - uses: Swatinem/rust-cache@v2
    - run: |
        if ! command -v just &> /dev/null
        then
          cargo install just
        fi
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        target: wasm32-unknown-unknown
    - run: |
        wget https://apt.llvm.org/llvm.sh -O /tmp/llvm.sh
        sudo bash /tmp/llvm.sh 18
        sudo apt install libpolly-18-dev
    - run: sudo apt install capnproto
    - run: just test
  server-build:
    name: server build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: test
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - uses: Swatinem/rust-cache@v2
    - run: |
        wget https://apt.llvm.org/llvm.sh -O /tmp/llvm.sh
        sudo bash /tmp/llvm.sh 18
        sudo apt install libpolly-18-dev
    - run: sudo apt install capnproto
    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: -p fx-server --release
    - uses: actions/upload-artifact@v4
      with:
        name: fx-server-amd64
        path: target/release/fx-server
  server-build-arm64:
    name: server build arm64
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: test
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        target: aarch64-unknown-linux-musl
    - uses: Swatinem/rust-cache@v2
    - run: sudo apt update
    - run: sudo apt install gcc-aarch64-linux-gnu
    - run: |
        if ! command -v just cross /dev/null
        then
          cargo install cross --git https://github.com/cross-rs/cross
        fi
    - run: cross build -p fx-server --release --target aarch64-unknown-linux-musl
    - uses: actions/upload-artifact@v4
      with:
        name: fx-server-arm64
        path: target/aarch64-unknown-linux-musl/release/fx-server
  docker:
    name: build and publish docker image
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs:
    - server-build
    - server-build-arm64
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v2
    - uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: download amd64 build
      uses: actions/download-artifact@v4
      with:
        name: fx-server-amd64
        path: ./build/amd64/
    - name: download arm64 build
      uses: actions/download-artifact@v4
      with:
        name: fx-server-arm64
        path: ./build/arm64/
    - run: ls build
    - run: ls build/amd64
    - uses: docker/build-push-action@v4
      with:
        file: Dockerfile
        context: '.'
        push: true
        tags: |
          ghcr.io/nikitavbv/fx/fx:latest
          ghcr.io/nikitavbv/fx/fx:0.1.${{ github.run_number }}
        platforms: linux/amd64,linux/arm64
        cache-from: type=gha
        cache-to: type=gha,mode=max
      env:
        BUILDKIT_PROGRESS: plain
